{
    "presets": [
        ["@babel/env", {
            "targets": {
                "browsers": ["last 2 versions", "> 5%", "not ie > 0", "not android > 0"]
            }
        }]
    ],
    "plugins": [
        "transform-undefined-to-void",
        "@babel/transform-runtime",
        "webpack-alias",
        "@babel/syntax-dynamic-import"
    ]
}
